@import "tailwindcss";

@theme {
  --color-odoo-primary: #714B67;
  --color-odoo-primaryHover: #5B3C53;
  --color-odoo-secondary: #017E84;
  --color-odoo-secondaryHover: #006B70;
  --color-odoo-bg: #F9F9F9;
  --color-odoo-text: #212529;
  --color-odoo-border: #DEE2E6;
  --color-odoo-sidebar: #FFFFFF;
  --color-odoo-sidebarHover: #F4F4F4;
}

@layer base {
  body {
    background-color: var(--color-odoo-bg);
    color: var(--color-odoo-text);
  }
}
