@import "tailwindcss";

@theme {
  --color-primary: #714B67;
  --color-secondary: #017E84;
  --color-gray: #8F8F8F;
  --color-gray-light: #E5E7EB;
  --color-gray-dark: #374151;
  --color-background-main: #FFFFFF;
  --color-background-secondary: #F7F7F7;
}

@layer base {
  body {
    background-color: var(--color-background-secondary);
    @apply text-slate-800 antialiased;
  }
}